.pac {
    width: 100%;
    margin: 0;
}
.pac tr:hover {
    background-color:  #ececff;
    cursor: pointer;
}

.pac tr:first-child {
    color: #ffffff;
    background-color: #66cc77;
}

.pac tr:last-child {
    background-color: aqua;
}

th {
    color: #ffffff;
    background-color: #6c7ae0;
    font-family: Poppins-Regular;
    font-size: 18px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 10px;
}
td {
    font-family: Poppins-Regular;
    font-size: 15px;
    color:  #666666;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-bottom: 1px solid #f2f2f2;
}

.pac td:nth-child(1) .pac td:nth-child(2) {
    width: 220px;
}

.pac td:nth-child(3) .pac td:nth-child(4) {
    width : 80px;
}

.pac td:nth-child(even) {
    background-color: #26fc27;
}
.pac td:nth-child(odd) {
    background-color: #1d4a52;
}


